.div-resume-container {
  font-family: "Arial", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.resume-container {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.title-container {
  color: #007bff;
}

.input-container {
  margin: 10px 0 16px 0;
  text-align: left;
}

label {
  font-weight: bold;
  margin-left: 3px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 14px;
}

button.delete-button,
button.download-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
  color: #fff;
  font-weight: bold;
}

button.delete-button {
  background-color: #ff0000;
  margin-right: 10px;
  float: right;
}

button.download-button {
  background-color: #007bff;
  float: right;
}

button.delete-button:hover {
  background-color: #cc0000;
}

button.download-button:hover {
  background-color: #0056b3;
}
